@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,900&display=swap');
* {
    font-family: 'Montserrat', sans-serif;  
}

body {
    margin: 0;
    background-color: #d8cdb8;
}
/* cabeçalho */
.header {
    background-color:  #3e2217;
    border-bottom: 3px solid rgb(36, 23, 12);
}

.header img {
    width: 10%;
}

.header .container {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.header .container ul {
    width: 800px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
}

.header .container a {
    text-decoration: none;
    color: white;
} 

.header .container ul :hover {
    color: rgb(36, 23, 12);
}

/* banner */
.banner{
    display: flex;
    background-color: #d8cdb8;
}

.banner .container .imgbanner{
    display: flex;
    border-radius: 10px;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
    width: 550px;
    height: 500px;
    box-shadow: 15px 10px 50px rgb(36, 23, 12);

}

/* social */
.social {
    display: flex;
    margin: auto;

}

.social .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
   
}

.social .container ul{
    width: 510px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 35px;
    margin-left: 35px;
    flex-direction: row;
}

.social .container .box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(36, 23, 12);
    border-radius: 30px;
    width: 250px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.397);
    margin-left: 20px;
}

.social .container .box:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(36, 23, 12);;
    transform: scale(1.1);
    transition: all 0.5s;
}

.social .container img {
    display: flex;
    margin: 0;
    width: 30px;
    height: 30px;
    flex-direction: row-reverse;
    justify-content: center;
}



/* horario de funcionamento */
.horario {
    display: flex;
}

.horario .container {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 350px;
    padding-top: 5px;

}
.horario  span {
   display: flex;
   font-size: 25px;
   margin: 5px;
   justify-content: center;  
}

.horario .container .local {
    display: flex;
    width: 400px;
    border: 2px solid rgb(36, 23, 12);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.397);
    text-align: center;
    flex-direction: row-reverse;
    font-size: 20px;
    
}

.horario .container .local img {
    width: 35px;
    height: 35px;
    margin: 0;
    margin-top: 5px;
    justify-content: center;
}

.endereco .container1 img {
    width: 200px;
    height: 200px;
    margin: 350px;
    margin-right: 500px;
}

#localizacao {
    margin: 5px;
    margin-left: 10px;
    border: 1px solid rgb(36, 23, 12);
    border-radius: 5px;
    box-shadow: 15px 10px 10px rgb(36, 23, 12);
    
}






