body {
    margin: 0;
    margin-left: 8.5vw;
    background-color: #fceee1;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
    background-color: #4d3626;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 7.5vw;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    left: 0;
    overflow: hidden;
}

.sidebar .conteudos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar .conteudos .icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 65%;
}

.sidebar .conteudos .icones i {
    font-size: 1.4em;
    color: white;
}

.sidebar .conteudos .icones p {
    font-size: small;
    font-weight: 550;
    color: white;
}

.sidebar .conteudos .icones i:hover {
    color: goldenrod;
    cursor: pointer;
}

.sidebar .conteudos .icones:hover {
    cursor: pointer;
}

#aqui {
    color: #008ee7;
}

#aqui p {
    color: #008ee7;
}

#aqui i {
    color: #008ee7;
}

#imgSensor {
    width: 30px;
    height: 30px;
}

/* ESTILIZAÇÃO GRAFICOS */

.dash{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0px 20px;
}
select {
    background-color: #4d3626;
    color: white;
    padding: 12px;
    width: 250px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    
  }

.graficos {
    display: flex;
    /* margin-left: 10px; */
    margin-bottom: 20px;
    width: 100%;
    height: 40vh;
    justify-content: center;
}

#myChart1 {
    width: 50%;
    border: 1px solid #ddd;
    /* padding: 10px; */
    margin: 5px;
}
#myChart2 {
    width: 50%;
    border: 1px solid #ddd;
    margin: 5px;
}
#myChart4 {
    width: 50%;
    border: 1px solid #ddd;
    /* padding: 10px; */
    margin: 5px;
}
#myChart3 {
    width: 50%;
    border: 1px solid #ddd;
    /* padding: 10px; */
    margin: 5px;
}


.espacoKPIs {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.KPI {
    margin-top: 30px;
    background-color: #4d3626;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    
     box-shadow: 10px 10px 10px rgba(1, 1, 1, 0.528);
}
.KPI .title{
    text-align: center;
}
.KPI p{
    color: #ddd;
    font-size: larger;
}
.divisoria{
    display: flex;
    justify-content: space-around;
}
.status{
    margin-top: 25px;
    height: 19px;
    width: 19px;
    border-radius: 100%;
}
.emergencia{
    background-color: #ffc000;
}
.alerta{
    background-color: #ffff00;
}
.ideal{
    background-color: #2ea71e;
}
.critico{
    background-color: #ff0000;
}
#SegundoArmazem{
    display: none;
}
#tempArmazem2{
    display: none;
}
#umiArmazem2{
    display: none;
}