.containerPerfil{
    margin: auto;
    width: 98%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxPerfil{
    background-image: url(../imagens/backgroundCoffee.png);
    width: 900px;
    height: 500px;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    
}
.boxPerfil .pUser{
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: larger;
    padding-left: 2%;
}
.boxUser{
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: #b8a391; 
    border-radius: 25px;
    flex-direction: column;
    margin: 15px 15px; 
}
.imagemUser{
    height: 200px;
    width: 200px;
    align-self: center;
    margin-bottom: 20px;
    padding-right: 10px;
}
.boxDadosUser{
    display: flex;
    flex-direction: column;
}
.boxDadosUser p{
padding-top: 40px;
padding-left: 20px;
font-size: larger;
color: aliceblue;
}