.containerPerfil{
    margin: auto;
    width: 98%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxPerfil{
    background-color: #3e2217;
    width: 900px;
    height: 500px;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    
}
.boxPerfil .pUser{
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: xx-large;
    padding-left: 2%;
}
.boxUser{
    display: flex;
    
    justify-content: center;
    height: 400px;
    width: 300px;
    background-color: #fceee1;
    border-radius: 25px;
    flex-direction: column;
}
.imagemUser{
    height: 200px;
    width: 200px;
    align-self: center;
}
.boxDadosUser{

}