@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,900&display=swap');

.bannerHelp {
    height: 120px;
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;

}

.bannerHelp p {
    font-weight: 800;
    display: flex;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}

.textHelp img {
    margin: 20px 2px;
    height: 30px;
    width: 30px;
}

.textHelp {
    align-items: center;
    display: flex;
    height: 80px;
}

.containerSac {
    display: flex;
    width: 380px;
    height: 50px;
    background-color: grey;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}
.ajudaGraph{
    width: 350px;
    height: 320px;
    display:flex;
    background-color: #3e2217;
    border-radius: 50px;
    align-items: end;
    
}
.ajudaGraph span{
    height: 50px;
    display: flex;
    width: 250px;
    margin: 0%;
    font-size: large;
    color: aliceblue;
    justify-content: left;
    align-items: end;
}
.ajudaGraph img{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 250px;
    height: 250px;
    /* margin-bottom: 30px; */
}
.ajudaGraph h2{
    margin-bottom: 30px;
    display: flex;
    writing-mode: vertical-lr;
    flex-direction: column-reverse;
    font-size: large;
    color: aliceblue;
    justify-content: center;
}
