@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,900&display=swap');

.bannerHelp {
    height: 120px;
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;

}

.bannerHelp p {
    font-weight: 800;
    display: flex;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}

.textHelp img {
    margin: 20px 2px;
    height: 30px;
    width: 30px;
}

.textHelp {
    align-items: center;
    display: flex;
    height: 80px;
}

.containerSac {
    display: flex;
    width: 380px;
    height: 50px;
    background-color: grey;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

p .sac{

}
