body {
    margin: 0;
}
  
.header {
    background-color: darkgoldenrod;
    margin: 0px 0px 3px 0px;
    border-bottom: solid grey;
}    
  
.header .container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header h1 {
    color: white;
}
  
.header ul {
    justify-content: space-between; 
    list-style: none;
    display: flex;
    width: 500px; 
}
  
.header ul li {
    padding: 2px;
}
  
.header ul li:hover {
    box-shadow: 0px 0px 1px 1px;
    background-color: #c78100;
    border-radius: 5px;
    cursor: pointer;
}