a {
    text-decoration: none;
}

.box {
    display: flex;
    margin-top: 30px;
}
 

.containerPerfil{
    background-color: #f9f7f3;
    border: 2px solid #ccc; 
    padding: 20px; 
    width: 600px; 
    height: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 100px;
    border-radius: 8px;
}


.containerPerfil h2 {
    text-align: center;
}

.boxPerfil{
    /* width: 900px;
    height: 500px; */
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    margin-top: 20px ;
}

.boxPerfil i {
    color: #000000;
    font-size: 80px;
    margin-left: 30px;
    
} 

.boxDadosUser{
    display: flex;
    flex-direction: column;    
  
}

.boxDadosUser span{
padding-top: 40px;
padding-left: 20px;
font-size: larger;
color: black;
font-weight: 600;
}


/* CRIAR NOVOS USUARIOS */


.boxDadosFuncionario {
    background-color: #f9f7f3;
    border: 2px solid #ccc; 
    padding: 20px;
    width: 600px; 
    height: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 100px;
    border-radius: 8px;
    margin-bottom: 30px; 
    align-items: center;
    flex-direction: column;
    display: flex;
}

.boxDadosFuncionario i {
    font-size: 25px;
    
}

.cadastroFuncionario h2 {
    text-align: center;
}

.boxDadosFuncionario input {
    border-radius: 5px;
    text-align: center;
    height: 20px;
}

.boxDadosFuncionario span{
    font-size: medium;
    color: black;
    font-weight: 600;
    }

.sidebar .conteudos .icones i:hover {
    color: goldenrod;
    cursor: pointer;
}

button {
    height: 30px;
    width: 140px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: large;
    align-self: center;
    color: beige;
    background-color: #3e2217;
    margin-top: 30px;
  
}

button:hover {
    transition: all 0.4s;
    transform: scale(1.1);
}