@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,900&display=swap');

.section {
  width: 100%;
  display: flex;
  position: absolute;
  height: 100vh;
  background: linear-gradient(
    to left,
    rgba(125, 105, 99, 1) 0%,
    rgba(157, 141, 128, 1) 50%,
    #b2a499 100%
  );
}

.section .margemLateral {
  width: 90vw;
  margin: auto;
  display: flex;
}

.textoPlanos {
  width: 25vw;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;  
}

.textoPlanos h1{
  font-size: 60px;
  margin: 0;
}

.textoPlanos p{
  font-size: 25px;
  margin-top: 30px;
}


.textoOportunidade{
  display: flex;
  margin-top: 20px;
}
.textoOportunidade .oportunidades{
  margin-left: 5px;
  font-size: 20px;
}

.setaTexto{
  display: flex;
  margin-top: 10px;
}

.setaTexto img{
  width: 70px;
  height: 70px;
}

.anual{
  margin-top: 35px;
  font-size: 15px;
  width: 200px;
  text-align: center;
}

.checkimg{
  margin-top: 5px;
  width: 15px;
  height: 15px;
}


.PlanoForma {
  text-align: center;
  margin-left: 25px;
  width: 300px;
  height: 500px;
  background-color: #4e3828;
  border-radius: 25px;
  display: inline-block;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(1, 1, 1, 0.528);
}

.centro {
  margin-top: 10px;
  background-color: #cccac5;
  color: #4e3828;
  height: 550px;
  position: relative;
  top: -25px;
}

.PlanoForma button {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;  
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #4e3828;
  border-color: #b2a499;
  border-radius: 28px;
  background: #b2a499;
  cursor: pointer;
}

.conteudo{
  display: flex;
  padding-left: 0;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centro button{
    background: #4e3828;
    border-color: #4e3828;
    color: #b2a499;
}

.PlanoForma button:hover {
  background: #9b8a7c;
}

.centro button:hover {
    background: #433022;
}

.PlanoForma h1{
    font-size: 65px;
    margin: 0;
}